<div class='row' >
    <div class="col-md-12" >
        <button type='button' class="btn btn-primary" id='btn_modal_agenda'>Incluir Nova Agenda</button>
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered nowrap " style="width:100%" id="tblEscala">
            <thead >
            <tr>
                <th>Cód</th>
                <th>Posto de Trabalho</th>
                <th>Setor</th>
                <th>Função</th>
                <th>Escala</th>
                <th>DT Período Escala</th>
                <th>DT Cancelamento</th>
                <th>Motivo Cancelamento</th>


                <th>t_ic_nao_repetir</th>
                <th>t_ic_preenchimento_automatico</th>

                <th>t_hr_intervalo_saida_sab</th>
                <th>t_hr_intervalo_saida_sex</th>
                <th>t_hr_intervalo_saida_qui </th>
                <th>t_hr_intervalo_saida_qua </th>
                <th>t_hr_intervalo_saida_ter</th>
                <th>t_hr_intervalo_saida_seg</th>
                <th>t_hr_intervalo_saida_dom</th>

                <th>t_hr_intervalo_sab</th>
                <th>t_hr_intervalo_sex</th>
                <th>t_hr_intervalo_qui</th>
                <th>t_hr_intervalo_qua</th>
                <th>t_hr_intervalo_ter</th>
                <th>t_hr_intervalo_seg</th>
                <th>t_hr_intervalo_dom</th>

                <th>t_hr_turno_sab_saida</th>
                <th>t_hr_turno_sex_saida</th>
                <th>t_hr_turno_qui_saida</th>
                <th>t_hr_turno_qua_saida</th>
                <th>t_hr_turno_ter_saida</th>
                <th>t_hr_turno_seg_saida</th>
                <th>t_hr_turno_dom_saida</th>

                <th>t_hr_turno_sab</th>
                <th>t_hr_turno_sex</th>
                <th>t_hr_turno_qui</th>
                <th>t_hr_turno_qua</th>
                <th>t_hr_turno_ter</th>
                <th>t_hr_turno_seg</th>
                <th>t_hr_turno_dom</th>

                <th>t_sab_turnos_pk</th>
                <th>t_sex_turnos_pk</th>
                <th>t_qui_turnos_pk</th>
                <th>t_qua_turnos_pk</th>
                <th>t_ter_turnos_pk</th>
                <th>t_seg_turnos_pk</th>
                <th>t_dom_turnos_pk</th>

                <th>t_ic_sab_folga</th>
                <th>t_ic_sex_folga</th>
                <th>t_ic_qui_folga</th>
                <th>t_ic_qua_folga</th>
                <th>t_ic_ter_folga</th>
                <th>t_ic_seg_folga</th>
                <th>t_ic_dom_folga</th>

                <th>t_ic_sab</th>
                <th>t_ic_sex</th>
                <th>t_ic_qui</th>
                <th>t_ic_qua</th>
                <th>t_ic_ter</th>
                <th>t_ic_seg</th>
                <th>t_ic_dom</th>

                <th>t_ic_intrajornada</th>
                <th>t_tipo_escala</th>
                <th>t_ic_folga_inverter</th>
                <th>t_hr_retorno_intervalo</th>
                <th>t_hr_saida_intervalo</th>
                <th>t_hr_termino_expediente</th>
                <th>t_hr_inicio_expediente</th>
                <th>t_turnos_pk</th>
                <th>t_contratos_itens_pk</th>
                <th>t_processos_etapas_pk</th>
                <th>t_produtos_servicos_pk</th>
                <th>t_dt_fim_agenda</th>
                <th>t_dt_inicio_agenda</th>
                <th>t_contratos_pk</th>
                <th>t_leads_pk</th>
                <th>t_dias_escala_servico</th>
                <th>t_ic_ponto_fora_horario</th>
                <th>t_ic_tempo_antes_ponto</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>