
<div class="row">
    <div class='col-md-6' align="left" >
        <h6>Leads - Financeiro</h6>
    </div>
</div>
<hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'>
<div class="row">
    <div class="col-md-12">
        <div class='row'>
            <div class='col-md-12'>
                <div id="ds_lead_titulo_contatos"></div>
                <br>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-2'>
                <div id="id_lead_contatos"></div>
            </div>
            <div class='col-md-3'>
                <div id="dt_cadastro_lead_contatos"></div>
            </div>
            <div class='col-md-3'>
                <div id="dt_ult_atualizacao_lead_contatos"></div>
            </div>
            <div class='col-md-4'>
                <div id="ds_usuario_cadastro_contatos"></div>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-12">
                <hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'>
            </div>
        </div>
        <p>
        <div class='row' >
            <div class='col-md-2'>
                <label for='ic_cliente'>Dia Faturamento:&nbsp;</label>
                <select class='form-control form-control-sm'  id='dia_faturamento' name='dia_faturamento'>
                    <option value="">Selecione...</option>
                    <option value="1">Dia 1</option>
                    <option value="2">Dia 2</option>
                    <option value="3">Dia 3</option>
                    <option value="4">Dia 4</option>
                    <option value="5">Dia 5</option>
                    <option value="6">Dia 6</option>
                    <option value="7">Dia 7</option>
                    <option value="8">Dia 8</option>
                    <option value="9">Dia 9</option>
                    <option value="10">Dia 10</option>
                    <option value="11">Dia 11</option>
                    <option value="12">Dia 12</option>
                    <option value="13">Dia 13</option>
                    <option value="14">Dia 14</option>
                    <option value="15">Dia 15</option>
                    <option value="16">Dia 16</option>
                    <option value="17">Dia 17</option>
                    <option value="18">Dia 18</option>
                    <option value="19">Dia 19</option>
                    <option value="20">Dia 20</option>
                    <option value="21">Dia 21</option>
                    <option value="22">Dia 22</option>
                    <option value="23">Dia 23</option>
                    <option value="24">Dia 24</option>
                    <option value="25">Dia 25</option>
                    <option value="26">Dia 26</option>
                    <option value="27">Dia 27</option>
                    <option value="28">Dia 28</option>
                    <option value="29">Dia 29</option>
                    <option value="30">Dia 30</option>
                </select>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3'>
                <label for="ic_tipo_lead">Iss Retido pelo Tomador ?:</label><br>
                <input type="radio" value="1" id="ic_iss_retido_tomador"  name="ic_iss_retido_tomador"> Sim
                <input type="radio" value="2" id="ic_iss_retido_tomador"  name="ic_iss_retido_tomador"> Não
            </div>
        </div>
        <div class='row' >
            <div class='col-md-2'>
                <label for='ic_cliente'>INSS:&nbsp;</label>
                <select class='form-control form-control-sm'  id='ic_inss_aplicacao' name='ic_inss_aplicacao'>
                    <option value="">Selecione...</option>
                    <option value="1">70 x 30</option>
                    <option value="2">80 x 20</option>
                </select>
            </div>
        </div>
       <div class="row">
                <div class="col-md-12" align="Right">
                    <hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'>
                    <br>
                    <button type="button" class="btn btn-secondary btn-sm" id="cmdVoltarLead2">Voltar</button>
                    <button type="button" class="btn btn-primary btn-sm" id="cmdEnviarLead2">Salvar</button>
                </div>
            </div>
    </div>
</div>