
<div class="row">
    <div class='col-md-6' align="left" >
        <h6>Leads - Contatos</h6>
    </div>
</div>
<hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'>
<div class="row">
    <div class="col-md-12">
        <div class='row'>
            <div class='col-md-12'>
                <div id="ds_lead_titulo_contatos"></div>
                <br>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-2'>
                <div id="id_lead_contatos"></div>
            </div>
            <div class='col-md-3'>
                <div id="dt_cadastro_lead_contatos"></div>
            </div>
            <div class='col-md-3'>
                <div id="dt_ult_atualizacao_lead_contatos"></div>
            </div>
            <div class='col-md-4'>
                <div id="ds_usuario_cadastro_contatos"></div>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-12">
                <hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'>
            </div>
        </div>

        <p>
        <div class='row'>
            <div class='col-md-12'>
                <button type="button" id="cmdIncluirContato" class="btn btn-primary btn-sm" >Incluir Contato</button>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered nowrap" style="width:100%" id="tblContatos">
                    <thead >
                    <tr>
                        <th>Cód</th>
                        <th>Contato</th>
                        <th>Email</th>
                        <th>Cel</th>
                        <th>Whatsapp</th>
                        <th>Tel</th>
                        <th>Função</th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>