
<div class="row">
    <div class="col-md-12">
        <h4>Lead - Agenda</h4>
        <hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'>
    </div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <div id="ds_lead_titulo_agenda"></div>
        <br>
    </div>
</div>
<div class='row'>
    <div class='col-md-2'>
        <div id="id_lead_agenda"></div>
    </div>
    <div class='col-md-3'>
        <div id="dt_cadastro_lead_agenda"></div>
    </div>
    <div class='col-md-3'>
        <div id="dt_ult_atualizacao_lead_agenda"></div>
    </div>
    <div class='col-md-4'>
        <div id="ds_usuario_cadastro_agenda"></div>
    </div>
</div>
<div class='row'>
    <div class="col-md-12">
        <hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'>
    </div>
</div>
<p>
<div class='row'>
    <div class='col-md-12'>
        <button type="button" id="cmdIncluirAgenda" class="btn btn-primary btn-sm" >Incluir Agenda</button>
    </div>
</div>
<br>
<hr>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered nowrap" style="width:100%" id="tblAgenda">
            <thead>
            <tr>
                <th>Cód</th>
                <th>Tipo Agenda</th>
                <th>Data Hora Agenda</th>
                <th>Usuário Cadastro</th>
                <th>Data Cadastro</th>
                <th>Status Agenda</th>
                <th>Observação</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>