<div class="row">
          <div class="col-md-12">
              <h5 style= "color:#FF5403">Orçamento(s)</h5>
              <hr>
          </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           <button type="button" class="btn btn-primary" id="btnNewOrcamento"   name="btnNewOrcamento" >Incluir Orçamento</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered nowrap" style="width:100%" id="tblResultado">
                <thead>
                    <tr>
                        <th>Cód</th>       
                        <th>Fornecedor</th>
                        <th>Dt Previsão Entrega</th>
                        <th>Vl do Frete</th>
                        <th>Vl Total Orçar</th>
                        <th>Status</th>                       
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
