<div class="row ">
                <div class="card-header" style="background-color: #F7F7F7">
                    <div class="card-title col-sm-5">
                        <h5 style= "color:#FF5403">Relatório Rondas</h5>
                    </div>
                    <div class='col-sm-7' align="Right">
                        <button type="button" class="btn btn-primary btn-sm" id="cmdEnviarRonda">Gerar Relatório</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class='col-md-4'>
                            <label for='leads_clientes_pk'>Cliente: </label>
                            <select type='text' class='form-control form-control-sm chzn-select'  id='leads_clientes_pk_ronda' name='leads_clientes_pk_ronda'>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class='col-md-4'>
                            <label for='leads_pk'>Posto de Trabalho: </label>
                            <select type='text' class='form-control form-control-sm chzn-select'  id='leads_pk_ronda' name='leads_pk_ronda'>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-2">
                            <label for="dt_ini_ronda">Dt Ini Ronda:&nbsp;</label>
                            <input type='text' class='form-control form-control-sm' maxlength="10"  id='dt_ini_ronda' name='dt_ini_ronda' value="">
                        </div>
                        <div class="col-md-2">
                            <label for="dt_fim_ronda">Dt Fim Ronda:&nbsp;</label>
                            <input type='text' class='form-control form-control-sm' maxlength="10"  id='dt_fim_ronda' name='dt_fim_ronda' value="">
                        </div>
                    </div>
                </div>
            </div>