<div class="row ">
            <div class="shadow-lg bg-white rounded mb-4" style="padding: 15px;background-color: #F7F7F7">
                <div class="card-header" style="background-color: #F7F7F7">
                    <div class="card-title col-sm-4">
                        <h5 style= "color:#FF5403"  >Pesquisar Colaboradores:</h5>
                    </div>
                </div>
                <div class="card-body">
                    <div class='row'>
                        <div class='col-md-4'>
                        </div>
                        <div class='col-md-4'>
                            <label for="ds_colaborador">Posto de Trabalho:&nbsp;</label>
                            <select class="form-control form-control-sm chzn-select" id="leads_pk_colaborador" >
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'>
                            &nbsp;
                        </div>
                        <div class='col-md-4'>
                            <label for="ds_colaborador">Colaborador:&nbsp;</label>
                            <select class="form-control form-control-sm chzn-select" id="colaborador_pk_colaborador" >
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'>
                            &nbsp;
                        </div>
                        <div class='col-md-4'>
                            <label for="ds_colaborador">Qualificação:&nbsp;</label>
                            <select class="form-control form-control-sm" id="ds_produto_servico_colaborador" >
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'>
                            &nbsp;
                        </div>
                        <div class='col-md-4'>
                            <label for="ds_colaborador">Pin:&nbsp;</label>
                            <input class="form-control form-control-sm" id="ds_pin_colaborador" >
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'>
                            &nbsp;
                        </div>
                        <div class='col-md-4'>
                            <label for="ds_cpf">CPF:&nbsp;</label>
                            <input class="form-control form-control-sm" id="ds_cpf_colaborador" >
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'>
                            &nbsp;
                        </div>
                        <div class='col-md-4'>
                            <label for="ic_status">Status acesso App Ponto:&nbsp;</label>
                            <select class="form-control form-control-sm" id="ic_status_app_colaborador" name="ic_status_app_colaborador" >
                                <option value=""></option>
                                <option value="1">Liberado</option>
                                <option value="2">Pendente</option>
                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'>
                            &nbsp;
                        </div>
                        <div class='col-md-4'>
                            <label for="ds_colaborador">RE:&nbsp;</label>
                            <input class="form-control form-control-sm" id="ds_re_colaborador" >
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'>
                            &nbsp;
                        </div>
                        <div class='col-md-4'>
                            <label for="generos_pk">Gênero:&nbsp;</label>
                            <select class="form-control form-control-sm" id="generos_pk_colaborador" name="generos_pk_colaborador" >
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <input type='hidden'  id='ic_reserva_colaborador' name='ic_reserva_colaborador' >
                    <div class='row'>
                        <div class='col-md-4'>
                            &nbsp;
                        </div>
                        <div class='col-md-4'>
                            <label for="ic_status">Origem:&nbsp;</label>
                            <select class="form-control form-control-sm" id="ic_origem_colaborador" name="ic_origem_colaborador" >
                                <option value=""></option>
                                <option value="">Sistema</option>
                                <option value="2">Site</option>
                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-md-4'>
                            &nbsp;
                        </div>
                        <div class='col-md-4'>
                            <label for="ic_status">Status:&nbsp;</label>
                            <select class="form-control form-control-sm" id="ic_status_colaborador" name="ic_status_colaborador" >
                                <option value=""></option>
                                <option value="1">Ativo</option>
                                <option value="2">Demitido</option>
                                <option value="3">Afastado</option>
                                <option value="3">Férias</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            &nbsp;
                        </div>
                        <div class="col-md-4" align="center">
                            <button type="button" class="btn btn-primary btn-sm" id="cmdPesquisarColaborador">Pesquisar</button>
                        </div>
                    </div>

                    <p>
                    <hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'>
                    <p>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-no-bordered  nowrap" style="width:100%" id="tblResultadoColaborador">
                                <thead>
                                <th>Código</th>
                                <th>Posto de Trab</th>
                                <th>Colaborador</th>
                                <th>Pin</th>
                                <th>Re</th>
                                <th>Cel</th>
                                <th>Status App</th>
                                <th>Origem</th>
                                <th>Status</th>
                                <th>Cel 2</th>
                                <th>Função</th>
                                <th>Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>