    <div class="row ">
        <div class="card-header" style="background-color: #F7F7F7">
            <div class="card-title col-sm-4">
                <h5 style= "color:#FF5403"  >Lead - Documento(s)</h5>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    &nbsp;
                </div>
                <div class='col-md-4'>
                    <label for='leads_pk'>Posto de Trabalho</label>
                    <select class='form-control form-control-sm chzn-select'  id='leads_pk_documento' name='leads_pk_documento'>
                        <option></option>
                    </select>
                </div>
            </div>
            <br>
            <hr style='height:1px; border:none; color:#14074F; background-color:#14074F; margin-top: 0px; margin-bottom: 0px;'><p></p>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered nowrap" style="width:100%" id="tblDocumentos">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Documento</th>
                            <th>Observação</th>
                            <th>Nome Original</th>
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>

    {% include('partials/cliente/inc_ocorrencia_cliente_cad_form.twig') %}