<div class="header border-bottom border-gray-200 header-fixed" style="background-color: #14074f">
    <div class="px-0">
        <div class="header-body px-0 py-3">
            <nav class="navbar navbar-expand-sm bg navbar-dark" style="background-color: #14074f">
                <div class="container-fluid">
                    <div style="width: 110px">
                        <a class="navbar-brand" href="#">
                            <img src="https://gepros.com.br/comercial/condominios/img/logo_branco.png" alt="Logotipo" >
                            <img src="https://gepros.com.br/comercial/condominios/img/logo_branco.png" alt="Logotipo" class="white-logo">
                        </a>
                    </div>
                    {% include '/structure/partials/menu.profile.twig' %}
                </div>
            </nav>
        </div>
    </div>
</div>