<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/assets/img/favicon.png" rel="icon" type="image/png">
    <title>Acesso Restrito</title>
    <link href="/assets/plugins/404/bootstrap.css" rel="stylesheet"/>
    <link href="/assets/plugins/404/style.css" rel="stylesheet"/>
</head>

<body>
<div class="repair">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <header>
                    <h1>Acesso Restrito!</h1>
                    <h2>O conteúdo dessa página é restrito para o perfil do seu usuário.</h2>
                </header>
                <footer>
                    <ul>
                        <li><a class="example_c" href="/menu/principal" target="_self">VOLTAR PARA O INÍCIO</a></li>
                    </ul>
                </footer>
            </div>
        </div>
    </div>
</div>

<div class="illustration">
    <img alt="" src="/assets/img/acesso-restrito.jpg">
</div>

<div class="illustration-mobile"></div>
</body>
</html>
