<!doctype html>
<html lang="pt-BR">
<head>
    {% set JSversion = 18 %}
    {% block head %}
        <meta charset="utf-8"/>
        <link href="/assets/img/square.png" rel="icon" type="image/ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{% block title %}{% endblock %} | {{ settingsGlobal.title }}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="MobileOptimized" content="375">
        <meta name="HandheldFriendly" content="true">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-weAdb-app-status-bar-style" content="black">

        {% block CSSfiles %}
            <!-- PRELOADER -->
            <link rel="preload" href="/assets/img/logo/logo-white.png" as="image">
            <link rel="stylesheet" href="/assets/plugins/preloader/preloader.css">

            <!-- FONTS  -->
            <link rel="stylesheet" href="/assets/fonts/Poppins/poppins.css">

            <!-- GLOBAL CSS -->
            <link rel="stylesheet" href="/assets/plugins/bootstrap/bootstrap.css">
            <link rel="stylesheet" href="/assets/plugins/muze-template/app.css">
            <link rel="stylesheet" href="/assets/plugins/datatables/datatables.css">
            <link rel="stylesheet" href="/assets/fonts/fontawesome-5-pro/css/all.css">
            <link rel="stylesheet" href="/assets/plugins/jquery-fancybox/fancybox.css">
            <link rel="stylesheet" href="/assets/plugins/animated/animated.css">
            <link rel='stylesheet' href="/assets/plugins/toastr/toastr.css">
            <link rel='stylesheet' href="/assets/plugins/sweetalert/sweetalert.css">
            <link rel="stylesheet" href="/assets/plugins/jquery-confirm/jquery-confirm.css">
            <link rel="stylesheet" href="/assets/plugins/loading/loading.css">
            <link rel="stylesheet" href="/assets/plugins/scrollbar/scrollbar.css">
            <link rel="stylesheet" href="/assets/css/global/styles.css">

            <link rel="stylesheet" href="/assets/plugins/emoji-picker/emojipicker.css">
            <link rel="stylesheet" href="/assets/plugins/multiselect/multiselect.css">
            <link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker.css">
            <link rel="stylesheet" href="/assets/plugins/tagify/tagify.css">
            <link rel="stylesheet" href="/assets/plugins/simplebar/simplebar.css">

            <link rel="stylesheet" href="/assets/css/local/queue-service.css">

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">

        {% endblock %}
    {% endblock %}
</head>
<body class="bg-gray-100 settings-template muze-light-mode top-header ">

<!--div class="pre-loading-screen">
    <div class="loader-screen animated pulse infinite">
    </div>
</div-->

<div class="wrapper">
    {% include 'theme/menu_cliente.twig' %}
    {% block breadcrumb %}{% endblock %}
    <div class="container-fluid container-global" > {% block content %}{% endblock %}
    </div>
    {% include 'theme/footer.twig' %}
</div>


{% block JSfiles %}
    <script>
        var config = {{ config|json_encode|raw }};
    </script>

    <!-- GLOBALS LIBS -->
    <script src="/assets/plugins/jquery/jquery.js"></script>
    <script src="/assets/plugins/preloader/preloader.js"></script>
    <script src="/assets/plugins/jquery-slimscroll/slimscroll.js"></script>
    <script src="/assets/plugins/bootstrap/bootstrap.js"></script>
    <script src="/assets/plugins/muze-template/app.js"></script>
    <script src="/assets/plugins/lodash/lodash.js"></script>
    <script src="/assets/plugins/jquery-fancybox/fancybox.js"></script>
    <script src="/assets/plugins/moment/moment.js"></script>
    <script src="/assets/plugins/moment/pt-br.js"></script>
    <script src="/assets/plugins/datatables/datatables.js"></script>
    <script src="/assets/plugins/datatables/datatables.bootstrap.js"></script>
    <script src="/assets/plugins/jquery-confirm/jquery-confirm.js"></script>
    <script src="/assets/plugins/jquery-validate/validate.js"></script>
    <script src="/assets/plugins/jquery-validate/methods.js"></script>
    <script src="/assets/plugins/sweetalert/sweetalert.js"></script>
    <script src="/assets/plugins/toastr/toastr.js"></script>
    <script src="/assets/plugins/mask/mask.js"></script>
    <script src="/assets/plugins/preloader/preloader.js"></script>

    <!-- CUSTOM JS -->
    <script src="/assets/js/global/utils.js"></script>
    <script src="/assets/js/global/bestflow.js?v=5"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>

    <script src="/assets/plugins/emoji-picker/emojipicker.js"></script>
    <script src="/assets/plugins/multiselect/multiselect.js"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/assets/plugins/tagify/tagify.js"></script>
    <script src="/assets/plugins/simplebar/simplebar.js"></script>



    <script>
        function logout(){
            utilsJS.jqueryConfirm('Sair?', 'Deseja sair do sistema?', function () {
                $.ajax({
                    type: 'POST',
                    url: '/api/auth/logout',
                    data: {},
                    complete: function (response) {
                        try {
                            let log = JSON.parse(response.responseText);
                            if(log.status == true){
                                location.reload();
                            }
                        } catch (e) {
                            utilsJS.sweetMensagem(false, 'Ocorreu um erro na requisição<br /> Contate o suporte');
                        }
                    }
                });
            });
        }
    </script>
{% endblock %}

</body>
</html>
